:root {
    --marathon-color:#2F4858;
    --half-marathon-color:#485676;
    --fifteen-k-color: #73608C;
    --ten-k-color: #A56792;
    --five-mile-color:#D27188;    
    --five-k-color: #EE8572;
    --dark-text-color: #35495e;
    --hover-color:#ee8572;    
}
body { 
    padding: 0 3%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
a {
    color: var(--dark-text-color);
}
a:hover {    
    color: var(--hover-color);
}
header {
    border-bottom: solid 2px gray;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #logo {
    color: var(--dark-text-color);   
}
header #logo h1 {
    display: inline;
    padding: 16px;
    margin: 0px;
    font-weight: normal;
    font-size: 2.5em;
    font-family: 'Faster One', cursive;
}
nav ul li {
  display:inline;
}
nav a {  
  font-weight: bold;
  padding: 16px;
}
#search-form a {
    padding-left: 8px;
    color: var(--dark-text-color);
}
#search-form a:hover, #search-form a:active {
    color: var(--default-race-color);
}
main .view {
    padding: 24px;
}
main #racesView {
    flex-wrap: wrap;
    grid-template-columns: 61.8% 38.2%;
    margin: 0px;
}
main h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;
    color: #35495e;
}
#pace-graph-container{
    flex-basis: 50%;
    flex-grow: 1;
}
#race-table-container {
    width: auto;
    border-left: solid 1px gray;
    padding: 16px;
}
#race-table {
    font-size: 0.9em;
}
#race-table th {
    text-align: left;
    padding: 4px;
    border-bottom: solid 1px lightgray;
}
#race-table td {
    padding: 4px;
}
#pace-graph-container svg {
    width: 100%;
    height: auto;
}
#pace-graph-container circle:hover {
    r: 3;
}
.race-data {
    fill: var(--default-race-color);
}
.marathon {
    fill: var(--marathon-color);
    color: var(--marathon-color);
}
.half-marathon {
    fill: var(--half-marathon-color);
    color: var(--half-marathon-color);
}
.five-k {
    fill: var(--five-k-color);
    color: var(--five-k-color);
}
.ten-k {
    fill: var(--ten-k-color);
    color: var(--ten-k-color);
}
.fifteen-k {
    fill: var(--fifteen-k-color);
    color: var(--fifteen-k-color);
}
.five-mile {
    fill: var(--five-mile-color);
    color: var(--five-mile-color);
}
.data-label {
    font-size: 0.7em;
}

#race-type-toggle label {
    padding-right: 16px;
}

.visible {
    display: flex;
}
.invisible {
    display: none;
}


/* Add Race Form */
#addRaceForm {
    display: block;
}
/* .form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
  }  */

/*--------------------
Form
--------------------*/
.form-group {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;
}
.form-group label {
    display: block;
    color: hsla(0, 0, 0, .6);
    margin-bottom: 5px;
}
  
form input, select {
    width: 100%;
    color: hsl(0, 0, 20);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid hsla(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
} 
