:root {
    --default-race-color:#ee8572;
    --marathon-color:#193757;
    --half-marathon-color:#35495e;
    --five-k-color: #347474;
    --five-mile-color:#63b7af;
}
body { 
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* border: solid 1px lightseagreen; */
}
header {
    background-color: #35495e;
    margin: 0px;
    padding: 24px;
}
header h1 {
    padding-left: 8px;
    margin: 0px;
    color: white;
    font-weight: normal;
    font-size: 3em;
    font-family: 'Faster One', cursive;
}
main {
    padding: 24px;
    margin: 0px;
}
main h2 {
    padding: 0px;
    margin: 0px;
    color: #35495e;
}
/* outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/
#pace-graph-container svg {
    /* border: solid 1px lightsalmon; */
    width: 900px;
    height: 500px;
}
#pace-graph-container circle:hover {
    r: 5;
}
.race-data {
    fill: var(--default-race-color);
}
.marathon {
    fill: var(--marathon-color);
    color: var(--marathon-color);
}
.half-marathon {
    fill: var(--half-marathon-color);
    color: var(--half-marathon-color);
}
.five-k {
    fill: var(--five-k-color);
    color: var(--five-k-color);
}
.five-mile {
    fill: var(--five-mile-color);
    color: var(--five-mile-color);
}
.data-label {
    font-size: 0.7em;
}

#race-type-toggle label {
    padding-right: 16px;
}