:root {
    --default-race-color: red;
    --half-marathon-color: blue;
    --five-k-color: green;
    --five-mile-color: orange;
}

body { 
    padding: 16px;
    margin: 0px;
    /* border: solid 1px lightseagreen; */
}
/* outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/
#pace-graph-container svg {
    /* border: solid 1px lightsalmon; */
    width: 900px;
    height: 500px;
}
#pace-graph-container circle:hover {
    r: 5;
}
.race-data {
    fill: var(--default-race-color);
}
.half-marathon {
    fill: var(--half-marathon-color);
}
.five-k {
    fill: var(--five-k-color);
}
.five-mile {
    fill: var(--five-mile-color);
}
.data-label {
    font-size: 0.7em;
}